# React build files
frontend/build/
frontend/node_modules/
frontend/.env

# Python & Flask
__pycache__/
*.py[cod]
*.log
*.db
instance/
.env
.env.*
venv/
config.py  # if you ever write secrets directly here (optional)

# Editor & system files
.vscode/
.DS_Store

# PDF output
backend/generated/

# Docker
*.pid
